body{
    color:black;
    background-color:cornflowerblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* p{
    font-style: oblique;
} */
img{
    height: 500px;
    width:500px
}
@media(max-width:600px){
    img{
        height:auto;
        width: 100%;
    }
}
video{
    width:100%;
}
ol{
    list-style-type: lower-roman;
}
ul{
    list-style-type:disc;
}
table,th,td{
    border: 1px solid white;
    border-collapse: collapse;
}
button:hover{
    background-color: darkcyan;
}
#p1{
    font-style: italic;
}
#p2{
    font-style: oblique;
}
.pclass{
    font-size: xx-large;
}
nav{
    display:flex;
    flex-direction:row;

}
@media (min-width:1024px) {
    nav{
        display:flex;
        flex-direction:row;
        gap:50px;
    }
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
